@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, karthik!</h1>
    <p>This is azure web app</p>
    <p>The time on the server is @DateTime.Now</p>
</div>
